<div class="container">
  <!-- ヘッダーコンテンツ -->
  <div class="row">
    <!-- お知らせ欄 -->
    <div class="col-sm-5 p-0 m-2">
      <div class="card bg-light w-100 h-100">
        <div class="card-header">
          <i class="far fa-comment fa-lg mr-2"></i>お知らせ
        </div>
        <div class="card-body">
          <p class="card-text">
            〇〇〇〇の運用方法が変更になりました。<br>
            詳細については各課上長へ確認をお願いします。
          </p>
          <p class="card-text float-right small">
            〇〇 〇〇　019/01/01 12:00
          </p>
        </div>
      </div>
    </div>
    <!-- 更新履歴 -->
    <div class="col-sm p-0 m-2">
      <div class="card bg-light w-100 h-100">
        <div class="card-header">
          <i class="fas fa-edit fa-lg mr-2"></i>更新履歴
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-3">
              2019/01/01 12:00
            </div>
            <div class="col-12 col-lg-9">
              〇〇 〇〇さんが<mark>×××××</mark>を更新しました。
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-3">
              2019/01/01 12:00
            </div>
            <div class="col-12 col-lg-9">
              〇〇 〇〇さんが<mark>×××××</mark>を更新しました。
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-3">
              2019/01/01 12:00
            </div>
            <div class="col-12 col-lg-9">
              〇〇 〇〇さんが<mark>×××××</mark>を更新しました。
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-3">
              2019/01/01 12:00
            </div>
            <div class="col-12 col-lg-9">
              〇〇 〇〇さんが<mark>×××××</mark>を更新しました。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- メインコンテンツ -->
  <div class="row">
    <!-- メニューカテゴリー -->
    <div class="col p-0 m-2">
      <accordion>
        <accordion-group #group [isOpen]="isFirstOpen">
          <div accordion-heading class="menu-title pointerCursor">
            <i class="fas fa-angle-down fa-lg mr-2"></i>メニュー
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <!-- メニューカテゴリー -->
    <div class="col-sm p-0 m-2">
      <accordion>
        <accordion-group #group [isOpen]="isFirstOpen">
          <div accordion-heading class="menu-title pointerCursor">
            <i class="fas fa-angle-down fa-lg mr-2"></i>メニュー
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <!-- メニューカテゴリー -->
    <div class="col-sm p-0">
      <accordion class="m-2">
        <accordion-group #group [isOpen]="isFirstOpen">
          <div accordion-heading class="menu-title pointerCursor">
            <i class="fas fa-angle-down fa-lg mr-2"></i>メニュー
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
        </accordion-group>
      </accordion>
      <accordion class="m-2">
        <accordion-group #group [isOpen]="isFirstOpen">
          <div accordion-heading class="menu-title pointerCursor">
            <i class="fas fa-angle-down fa-lg mr-2"></i>メニュー
          </div>
          <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-secondary menu-btn">選択肢</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>