<div class="container">
    <nav aria-label="navigation">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">勤務時間申請</li>
        </ol>
    </nav>
    <div class="row">
        <div class="card col p-0 m-2">
            <div class="card-header text-primary font-weight-bolder">
                <h3 class="mb-0"><i class="fas fa-angle-double-right icon-color mr-2"></i>勤務時間申請</h3>
            </div>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mb-4"><i class="fas fa-user icon-color mr-2"></i>ユーザー情報</h5>
                <div class="row">
                    <div class="col-5 col-md-2 text-black-50 font-weight-bold">氏名</div>
                    <div class="col-7 col-md-10 mb-2">雨宮　あすか</div>
                </div>
                <div class="row">
                    <div class="col-5 col-md-2 text-black-50 font-weight-bold">社員番号</div>
                    <div class="col-7 col-md-10 mb-2">0094</div>
                </div>
                <div class="row">
                    <div class="col-5 col-md-2 text-black-50 font-weight-bold">所属部課</div>
                    <div class="col-7 col-md-10">システム本部2部1課</div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mb-4"><i class="fas fa-edit icon-color mr-2"></i>プロジェクト１情報入力</h5>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">プロジェクト名</div>
                    <div class="col-12 col-lg-4 mb-2">○○○○○○○○○○○○</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">就業時間</div>
                    <div class="col-12 col-lg-4 mb-2">○○○○○○○○○○○○</div>
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">計算単位</div>
                    <div class="col-12 col-lg-2">○○分</div>
                    <div class="col-12 col-lg-2"><button type="button"
                            class="btn btn-outline-primary float-right">勤務時間入力</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mb-4"><i class="fas fa-edit icon-color mr-2"></i>プロジェクト２情報入力</h5>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">プロジェクト名</div>
                    <div class="col-12 col-lg-4 mb-2">－</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">就業時間</div>
                    <div class="col-12 col-lg-4 mb-2">－</div>
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">計算単位</div>
                    <div class="col-12 col-lg-2">－</div>
                    <div class="col-12 col-lg-2"><button type="button"
                            class="btn btn-outline-primary float-right disabled">勤務時間入力</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mb-4"><i class="fas fa-edit icon-color mr-2"></i>プロジェクト３情報入力</h5>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">プロジェクト名</div>
                    <div class="col-12 col-lg-4 mb-2">－</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">就業時間</div>
                    <div class="col-12 col-lg-4 mb-2">－</div>
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">計算単位</div>
                    <div class="col-12 col-lg-2">－</div>
                    <div class="col-12 col-lg-2"><button type="button"
                            class="btn btn-outline-primary float-right disabled">勤務時間入力</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mb-4"><i class="fas fa-edit icon-color mr-2"></i>プロジェクト４情報入力</h5>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">プロジェクト名</div>
                    <div class="col-12 col-lg-4 mb-2">－</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">就業時間</div>
                    <div class="col-12 col-lg-4 mb-2">－</div>
                    <div class="col-12 col-lg-2 text-black-50 font-weight-bold">計算単位</div>
                    <div class="col-12 col-lg-2">－</div>
                    <div class="col-12 col-lg-2"><button type="button"
                            class="btn btn-outline-primary float-right disabled">勤務時間入力</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-titl text-primary mb-4"><i class="fas fa-calculator icon-color mr-2"></i>合計</h5>
                <div class="row">
                    <div class="col-6 col-lg-2 text-black-50 font-weight-bold">休憩時間</div>
                    <div class="col-6 col-lg-4 mb-2">0:00</div>
                    <div class="col-12 col-lg-6 text-black-50 small mb-2">申請済み残業時間（0:00）</div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-2 text-black-50 font-weight-bold">稼動</div>
                    <div class="col-6 col-lg-4 mb-2">0:00</div>
                    <div class="col-12 col-lg-6 text-black-50 small mb-2">未承認残業時間（0:00）</div>
                </div>
            </div>
        </div>
    </div>
</div>