<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a href="#" class="navbar-brand">
    <i class="fas fa-globe mr-2"></i>
    〇〇01
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="collapseBasic" [collapse]="isCollapsed">
    <div class="navbar-nav">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-light" aria-controls="dropdown-basic">
          <i class="fas fa-cog mr-1"></i>設定 <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">パスワード変更</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">××××××</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">××××××</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">ログアウト</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="p-3">
  <router-outlet></router-outlet>
</div>