<div class="container">
    <nav aria-label="navigation">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a routerLink="/">ホーム</a></li>
            <li class="breadcrumb-item"><a routerLink="/working-time-menu">勤務時間申請</a></li>
            <li class="breadcrumb-item active" aria-current="page">PJ1勤怠入力</li>
        </ol>
    </nav>
    <div class="row">
        <div class="card col p-0 m-2">
            <div class="card-header text-primary font-weight-bolder">
                <h4 class="font-weight-bold mb-0"><i class="fas fa-angle-double-right icon-color mr-2"></i>勤務時間申請</h4>
            </div>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mt-2 mb-4"><i
                        class="fas fa-project-diagram icon-color mr-2"></i>プロジェクト情報
                </h5>
                <div class="row">
                    <div class="col-4 col-lg-2 text-black-50 font-weight-bold">名称</div>
                    <div class="col-8 col-lg-5 mb-2">
                        <select class="custom-select">
                            <option selected>この選択メニューを開く</option>
                            <option>プロジェクトA</option>
                            <option>プロジェクトB</option>
                            <option>プロジェクトC</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-2 text-black-50 font-weight-bold">就業時間</div>
                    <div class="col-8 col-lg-5 mb-2">
                        <select class="custom-select">
                            <option selected>この選択メニューを開く</option>
                            <option>9:00～18:00</option>
                            <option>9:30～18:30</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-2 text-black-50 font-weight-bold">計算単位</div>
                    <div class="col-8 col-lg-5">
                        <select class="custom-select">
                            <option selected>この選択メニューを開く</option>
                            <option>1分</option>
                            <option>5分</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title text-primary mb-4"><i
                        class="far fa-calendar-alt icon-color mr-2"></i>勤怠情報（{{ myYear }} 年 {{ myMonth+1 }} 月）</h5>
                <div class="card-body d-flex flex-column align-items-start">
                    <table class="table table-sm table-hover calendar">
                        <thead>
                            <tr>
                                <th scope="col" class="week">曜日</th>
                                <th class="date">日</th>
                                <th class="kind">届出</th>
                                <th>出勤</th>
                                <th>退勤</th>
                                <th>勤務</th>
                                <th>深夜</th>
                                <th>遅刻等</th>
                                <th>備考</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let tmp of myTable; index as i">
                                <ng-container *ngIf="tmp !== 0">
                                    <tr>
                                        <!-- 曜日のスタイル設定 -->
                                        <ng-container [ngSwitch]=i%7>
                                            <td *ngSwitchCase=0 class="text-danger">
                                                <strong>{{myWeekTbl[i%7]}}</strong></td>
                                            <td *ngSwitchCase=6 class="text-primary">
                                                <strong>{{myWeekTbl[i%7]}}</strong></td>
                                            <td *ngSwitchDefault class="text-black-50">
                                                <strong>{{myWeekTbl[i%7]}}</strong></td>
                                        </ng-container>
                                        <!-- 日付 -->
                                        <td scope="row"><strong>{{ tmp }}</strong></td>
                                        <td>
                                            <select class="custom-select">
                                                <option selected></option>
                                                <ng-container [ngSwitch]=i%7>
                                                    <option *ngSwitchCase=0 value="1" selected>休日</option>
                                                    <option *ngSwitchCase=6 value="1" selected>休日</option>
                                                    <option *ngSwitchDefault value="1">休日</option>
                                                </ng-container>
                                                <option value="2">その他</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" id="startTime{{i}}"></td>
                                        <td><input type="text" class="form-control" id="endTime{{i}}"></td>
                                        <td class="workingTime">8h</td>
                                        <td class="nightTime">0h</td>
                                        <td><input type="text" class="form-control" id="breakTime{{i}}"></td>
                                        <td><input type="text" class="form-control" id="memo{{i}}"></td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-titl text-primary mb-4"><i class="fas fa-calculator icon-color mr-2"></i>合計</h5>
                <div class="row">
                    <div class="col-6 col-lg-2 text-black-50 font-weight-bold">休憩時間</div>
                    <div class="col-6 col-lg-4 mb-2">0:00</div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-2 text-black-50 font-weight-bold">稼動</div>
                    <div class="col-6 col-lg-4 mb-4">0:00</div>
                    <div class="col-12 col-lg-6"><button type="button"
                            class="btn btn-outline-primary float-right">勤務時間更新</button></div>
                </div>
            </div>
        </div>
    </div>
</div>