<div class="container">
    <nav aria-label="navigation">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a routerLink="/">ホーム</a></li>
            <li class="breadcrumb-item"><a routerLink="/working-time-menu">勤務時間申請</a></li>
            <li class="breadcrumb-item active" aria-current="page">PJ1勤怠入力</li>
        </ol>
    </nav>
    <div class="row">
        <div class="card col p-0 m-2">
            <div class="card-header text-primary font-weight-bolder">
                <h4 class="font-weight-bold mb-0"><i class="fas fa-angle-double-right icon-color mr-2"></i>勤務時間申請</h4>
            </div>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mt-2 mb-4"><i
                        class="fas fa-project-diagram icon-color mr-2"></i>プロジェクト情報
                </h5>
                <div class="row">
                    <div class="col-4 col-lg-2 text-black-50 font-weight-bold">名称</div>
                    <div class="col-8 col-lg-5 mb-2">
                        <select class="custom-select">
                            <option selected>この選択メニューを開く</option>
                            <option>プロジェクトA</option>
                            <option>プロジェクトB</option>
                            <option>プロジェクトC</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-2 text-black-50 font-weight-bold">就業時間</div>
                    <div class="col-8 col-lg-5 mb-2">
                        <select class="custom-select">
                            <option selected>この選択メニューを開く</option>
                            <option>9:00～18:00</option>
                            <option>9:30～18:30</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-2 text-black-50 font-weight-bold">計算単位</div>
                    <div class="col-8 col-lg-5">
                        <select class="custom-select">
                            <option selected>この選択メニューを開く</option>
                            <option>1分</option>
                            <option>5分</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-title text-primary mb-4"><i class="far fa-calendar-alt icon-color mr-2"></i>勤怠情報（１２月）
                </h5>
                <div class="row">
                    <div class="col">test</div>
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <h5 class="card-titl text-primary mb-4"><i class="fas fa-calculator icon-color mr-2"></i>合計</h5>
                <div class="row">
                    <div class="col-6 col-lg-2 text-black-50 font-weight-bold">休憩時間</div>
                    <div class="col-6 col-lg-4 mb-2">0:00</div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-2 text-black-50 font-weight-bold">稼動</div>
                    <div class="col-6 col-lg-4 mb-4">0:00</div>
                    <div class="col-12 col-lg-6"><button type="button"
                            class="btn btn-outline-primary float-right">勤務時間更新</button></div>
                </div>
            </div>
        </div>
    </div>
</div>